<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yuoj.mapper.ContestRankMapper">
    <resultMap id="BaseResultMap" type="com.yupi.yuoj.model.entity.ContestRank">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="contestId" column="contest_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="solvedCount" column="solved_count" jdbcType="INTEGER"/>
        <result property="totalScore" column="total_score" jdbcType="INTEGER"/>
        <result property="penalty" column="penalty" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,contest_id,user_id,solved_count,total_score,penalty,update_time
    </sql>
</mapper>
