<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yuoj.mapper.ContestSignupMapper">
    <resultMap id="BaseResultMap" type="com.yupi.yuoj.model.entity.ContestSignup">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="contestId" column="contest_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="signupTime" column="signup_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,contest_id,user_id,signup_time,status
    </sql>
</mapper>
